<IfModule mod_rewrite.c>
    # Habilita o motor de reescrita de URL do Apache
    RewriteEngine On

# Se a requisição NÃO for para um arquivo que existe...
    RewriteCond %{REQUEST_FILENAME} !-f

# E se a requisição NÃO for para um diretório que existe...
    RewriteCond %{REQUEST_FILENAME} !-d

# ...Então, redirecione a requisição para o index.php
    RewriteRule ^ index.php [QSA,L]

</IfModule>
