<IfModule mod_rewrite.c>
    RewriteEngine On

    # Se o arquivo ou diretório solicitado não existir fisicamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    # Redireciona a requisição para index.php
    # O [L] significa que é a última regra a ser processada
    # O [QSA] significa "Query String Append", para manter os parâmetros GET (ex: /produtos?id=1)
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>